

h1{
    font-size: 10;
    color:black;

}
#bulb{
margin: 10%;    
height: 300px;
width: 300px;
    border-radius: 50%;

border: solid 4px black;
    border-color: black;
}
button{
    padding: 3%;
    margin-left: 40%;
}